*{
  margin: 0;
  padding: 0;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

.containerApp{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 0% 100%;
  grid-template-rows: 10% 90%;
  grid-template-areas: "header header"
                        "config ContainerVisualizations";
}

.cap{
  width: 0px;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
}